html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: white;
  color: #111111;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

main {
  width: 100vw;
  height: auto;
  position: absolute;
  margin: 0 auto;
}

header {
  width: 100vw;
  height: 100vh;
}

.search-block {
  margin: 0 auto;
}

.search-input {
  outline: none;
  width: 938px;
  height: 40px;
  margin: 30px 0 30px 0;
}


.search-panel {
  margin: 50px auto;
  height: max-content;
  color: #111111;
  max-width: 1000px;
  display: flex;
}

.search-panel,
span {
  margin: 0 auto;
}

.card-box {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

li,
.card {
  display: flex;
  width: 451px;
  height: 279px;
  margin: 0 30px 20px 0;
}

.card {
  background-color: rgba(246, 246, 246, 0.56);
  box-shadow: 8px 5px 8px rgba(105, 104, 104, 0.164);
}

.title {
  margin: 0 0 5px 0;

  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.data-of-release {
  /* width: 140px; */
  height: 30px;
  /* margin: 0, 15px, 0, 0; */

  color: rgb(191, 194, 194);
}

.card-description {
  width: 228px;
  height: 129px;
}

.img-film {
  width: 183px;
  background: no-repeat;
  /* background-image: url(./imgs/img-film.png); */
}

.card-text {
  width: 240px;
  height: 30px;
  margin: 20px;
}

.genre,
button {
  color: rgba(0, 0, 0, 0.65);
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background: #FAFAFA;

  margin: 0 0 10px 0;

}